h1 {
    font-family: cursive;
    font-size: x-large;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 20px;
}

body {
    /* Other styles */
    background-image: url('hostelbg.jpg');
    background-size: cover; /* Adjust as needed */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 2em; /* Adjust the font size as needed */
}

.container {
    text-align: center;
}

.container p {
    font-family: cursive;
    font-size: x-large;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 20px;
}

.container p a {
    color: white; /* Set link color to blue */
    text-decoration: none; /* Remove underline */
}
