<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/search" method="post">
        <label for="id">ID:</label>
        <input type="number" name="id" value="id" placeholder="Enter student ID">
        <input type="submit" value="Submit">
    </form>
    <p>
        <a href="http://localhost:8080/ ">|Go home|</a></p>
</body>

</html>